body{
    margin: 0px;
    box-sizing: border-box;
    font-family:Tahoma;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 18px 10px;
}

#menu,#close{
    display: none;
    cursor: pointer;
}

a:link ,:visited{
    padding: 20px;
    color: white;
    text-decoration: none;
}

.container{
    display: grid;
    grid-template-columns: auto;
}

section{
    padding: 10px 10px;
}

#about{
    background-color: powderblue;
}

#education{
    background-color: plum;
}

#project{
    background-color: peachpuff;
}

#experience{
    background-color: lavender;
}

#blogs{
    background-color: gainsboro;
}

ul li{
    list-style-type: none;
}

footer{
    display: flex;
    justify-content: space-around;
}

#gmail{
    display: none;
}

.img-visible{
    display: none;
    width: 60px;
    height: 60px;
}

.mobile-version{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h5{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/*mobile layout*/
@media only screen and (max-width:500px) {
    #menu{
        display: block;
    }

    #logo{
       position: absolute;
       top:1px;
       right:0;
    }

    #nav-links{
        display: none;
        padding: 20px 0px;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #nav-links a{
        display: block;
        padding: 10px;
    }

    a:hover{
        text-decoration: underline;
        color: white;
    }

    :is(#gmail,.img-visible){
      display: block;
    }

    :is(#about,#education,#project,#experience,#blogs){
        background-color: lightgrey;
        border-bottom: 3px solid black;
    }

    h5{
        margin: auto;
        border: 1px solid skyblue;
        border-radius: 5px;
        width:fit-content;
        padding: 6px;
        background-color: skyblue;
        color: white;
    }

    footer{
        background-color: grey;
    }
}